.formacao {
  background-color: #3E3E3E;
}

.formacao-container {
  max-width: 1200px;
  padding: 160px 100px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 160px;
  margin-top: 60px;
}

.formacao .subtitulo {
  font-size: 4.5rem;
  line-height: 5.625rem;
  color: #000;
  text-transform: uppercase;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 38ch;
  color: #B4B4B4;
}

.formacao-texto strong {
  color: #fff;
}

.faculdade-titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 0.015rem;
  padding-bottom: 0px;
  display: inline-block;
}

.faculdade-tipo {
  color: #989898;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.015rem;
  padding-bottom: 10px;
  padding-top: 40px;
}

.faculdade-curso {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.563;
  padding-bottom: 10px;
  padding-left: 22px;
}

.faculdade-instituicao {
  color: #989898;
  font-size: 1.125rem;
  line-height: 1.563;
  padding-bottom: 10px;
  padding-left: 22px;
}

.cursos-lista {
  column-count: 2;
  position: relative;
}

.extras-lista {
  margin-bottom: 60px;
}

.extras-lista::before {
  content: "";
  width: 72.313rem;
  height: 0.125rem;
  background: #535353;
  position: absolute;
  display: block;
  top: 2420px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extras-lista::after {
  content: "";
  display: block;
  width: 170px;
  height: 115px;
  background: url(/resume-webpage/img/dec/detalhe.svg) no-repeat center;
  position: absolute;
  top: 2810px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.idioma-tipo {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.25;
  padding-top: 20px;
}

.idioma-tipo span {
  color: #868686;
}

.idioma-titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 0.015rem;
  padding-bottom: 20px;
}

.extras-lista {
  padding-bottom: 60px;
}

@media (max-width: 1140px) {
  .extras-lista::after {
    display: none;
  }
  .extras-lista::before {
    display: none;
  }
  .cursos-lista {
    column-count: 1;
  }
  .formacao-container {
    gap: 60px;
  }
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
    margin: 80px;
  }
  .extras-lista::after {
    display: none;
  }
  .extras-lista::before {
    display: none;
  }
  .formacao .subtitulo {
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .cursos-lista {
    column-count: 1;
  }
}